#consentDialog {
  top: initial;
  left: initial;
  right: 15px;
  bottom: 15px;
  border: none;
  padding: 1rem;
  max-width: 280px;
  font-family: sans-serif;
  border-radius: 2px;
  .consent-item {
    font-size: 14px;
    display: flex;
    align-items: center;

    input {
      margin-right: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &::backdrop {
    background: rgb(0 0 0 / 25%);
  }

  #consent_title {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  #consent_text {
    margin-top: 5px;
    font-size: 13px;
  }
 
  button {
    letter-spacing: 1px;
    margin-top: 15px;
    width: 100%;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .16s ease;
    cursor: pointer;

  

    border: solid 1px black;
    background-color: #0075ff;
    color: white;
    border-radius: 2px;

    &:hover {
      background-color: black;
      color: white
    }

    +button {
      background-color: white;
      color: black;

      &:hover {
        background-color: rgb(241, 241, 241);
        color: initial;
      }
    }
  }

  &::backdrop {
    backdrop-filter: blur(2px);
  }
}

#changeCookieBotPreferences {
  appearance: none;
  color: rgb(99, 99, 255);
  cursor: pointer;
}