#consentDialog {
  position: fixed;
  top: initial;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: none;
  padding: 10px;
  max-width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.25;
  background-color: white;
  overflow: auto;
  display: block;
  background-color: canvas;
  border-top: solid 1px rgb(231, 231, 231);
  z-index: 99999 !important;

  .consent-item {
    width: 50%;
    font-size: 11px;
    display: inline-flex;
    align-items: center;
    /* &:not(:last-of-type) {
      margin-bottom: 2px;
    } */
  }

  .consent-item,
  button,
  #consent_text {
    font-size: 11px;
  }

  &::backdrop {
    background: rgb(0 0 0 / 25%);
  }

  #consent_title {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  #consent_text {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.25;
  }

  #consent_buttons {
    display: flex;
    align-items: center;
  }

  button {
    width: 100%;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all .16s ease;
    cursor: pointer;
    border: solid 2px white;
    background-color: #0075ff;
    color: white;
    border-radius: 2px;
    align-self: stretch;
    line-height: 1.25;
    padding: 5px;

    &:hover {
      background-color: black;
      color: white
    }

    +button {
      background-color: #f4f9ff;
      color: #0075ff;

      &:hover {
        background-color: rgb(241, 241, 241);
        color: initial;
      }
    }
  }

  &::backdrop {
    backdrop-filter: blur(2px);
  }

  @media screen and (min-width: 570px) {
    max-width: 340px;
    left: initial;
    right: 15px;
    bottom: 15px;
    border: solid 1px rgb(231, 231, 231);

    .consent-item,
    button,
    #consent_text {
      font-size: 12px;
    }
  }
}

#changeCookieBotPreferences {
  appearance: none;
  color: rgb(99, 99, 255);
  cursor: pointer;
}