#consentDialog {
	top: initial;
	left: initial;
	right: 15px;
	bottom: 15px;
	border: none;
	padding: 1rem;
	max-width: 280px;
	font-family: sans-serif;
	form {
		padding: 0 !important;
		margin: 0 !important;
		background-color: transparent !important;
	}
	.consent-item {
		font-size: 14px;
		display: flex;
		align-items: center;

		input {
			margin-right: 5px;
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	&::backdrop {
		background: rgb(0 0 0 / 25%);
	}

	.consent-title {
		display: block;
		margin-bottom: 10px;

	}

	.consent-button {
		letter-spacing: 1px;
		margin-top: 15px;
		width: 100%;
		padding: 10px 15px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		transition: all .16s ease;
		cursor: pointer;
		background-color: black;
		color: white;
		&:hover {
			background-color: white;
			color: initial;
		}
	}

	#consent_text {
		font-size: 13px;
	}

	&::backdrop {
		backdrop-filter: blur(2px);
	}
}

#changeCookieBotPreferences {
	appearance: none;
	color: rgb(99, 99, 255);
	cursor: pointer;
}